input[type=text],
input[type=number],
input[type=url] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
}


.container {
    border-radius: 10px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}


@media screen and (max-width: 600px) {

    .col-25,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}